# --- Node.js ---
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json

# --- Python ---
__pycache__/
*.py[cod]
*.egg
*.egg-info/
dist/
build/
*.log
.env
*.sqlite3
*.db

# If using virtual environments:
venv/
env/
ENV/
.accidentenv/
accidentenv/
*.pkl
*.pt

# --- macOS System Files ---
.DS_Store

# --- Windows System Files ---
Thumbs.db
ehthumbs.db
Desktop.ini

# --- IDEs and Editors ---
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# --- Jupyter Notebooks Checkpoints ---
.ipynb_checkpoints/

# --- Other ---
*.bak
*.swp
*.tmp
*.orig
